html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html * {
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu";
  color: #333;
  font-size: 15px;

  box-sizing: content-box;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #f2f2f2;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  text-decoration: none;
  text-transform: uppercase;

  font-size: 20px;
  font-weight: 600;
  color: #1599c5;
}

.logo:hover {
  cursor: pointer;
}

.logo > picture img {
  display: inline-block;
  width: auto;
  height: 16px;
}

input {
  border-radius: 0;
  border-color: #dddddd;
  border-style: solid;
  border-width: 1px;

  border-top-color: #d6d6d6;

  padding: 3px 10px;
}

input:focus {
  outline: 2px solid #57cdf5;
  outline-offset: -2px;
}

button {
  background-color: white;
  border: 1px solid #dddddd;
  padding: 4px 12px;
  height: 25px;
}

button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.05);
}

button:active {
  padding-top: 6px;
  padding-bottom: 2px;

  box-shadow: inset 1px 4px 6px -6px rgba(0, 0, 0, 0.7);
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

.red {
  color: #da3d3d;
}

.pink {
  color: #f179fc;
}

.blue {
  color: #00fff2;
}

.orange {
  color: rgb(253, 165, 0);
}

h1 {
  font-size: 24px;
  font-weight: 700;

  text-transform: uppercase;
}

h1 ruby {
  font-size: 20px;
}

rt {
  font-size: 10px;
}

.email {
  color: blue;
  font-style: italic;
}

.email:hover {
  text-decoration: underline;
  cursor: pointer;
}

.dotted-line {
  border: none;
  border-top: 4px dotted #f8e21a;
  width: 100px;
}

.flex-shrink-only {
  flex-grow: 0;
  flex-shrink: 1;
}

.flex-grow-only {
  flex-grow: 1;
  flex-shrink: 0;
}

.eating-pacman {
  display: flex;
  align-items: center;
}

.rotate-180 {
  transform: rotate(180deg);
}
