main {
  position: relative;

  max-width: 800px;
  width: 95%;
  margin: 10px auto;
  padding: 10px 15px;
  background-color: white;
}

main article {
  border-bottom: 1px solid #e5e5e5;
  padding: 10px 0;
}

main article:last-of-type {
  border-bottom: none;
}

.article-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

article h2 {
  font-size: 18px;
}

img.left {
  float: left;
  margin-right: 10px;
}

img.right {
  float: right;
  margin-left: 10px;
}

img.small {
  width: 85px;
  height: auto;
}

h1 {
  font-size: 24px;
  font-weight: 700;

  text-transform: uppercase;
}

h1 ruby {
  font-size: 20px;
}

h1 rt {
  font-size: 10px;
}
